html, body {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    width: 100%;
    height: 100%;
    color: #FFFFFF;
}

h2 {
    color: #FFFFFF;
    font-size: 2.5em;
    font-weight: 200;
}

a {
    color: #FFFFFF;
    cursor: pointer;
}

.fa:hover {
    color: RGBA(210, 47, 114, .60);
    -webkit-transition: color ease-out 1s;
    -moz-transition: color ease-out 1s;
    -o-transition: color ease-out 1s;
    transition: color ease-out 1s;
}

.hero {
  background: url(/src/tulips.png) no-repeat center center;
  background-size: cover;
  height:75vh; 
  width: 100%;
  position: relative;
}

.intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;}

.content {
  height:75vh; 
  width: 100%;
}

.content-inverse {
  height:75vh; 
  width: 100%;
  background-color: RGBA(125, 58, 115, .1); 
}

.left-model {
    height: 125%;
    margin-top: -5%;
    margin-left: 10%;
    float: left;
}

.right-model {
    height: 125%;
    margin-top: -5%;
    float: right;
    margin-right: 10%;
}

#title {
    color: #FFFFFF;
    font-size: 5em;
    font-weight: 200;
}

#badge {
  height:60vh; 
  width: 100%;
  background-color: RGBA(125, 58, 115, .3); 
  padding-top: 10vh; 
  padding-bottom: 10vh;
  padding-right: 5vh;
  padding-left: 5vh;
}

#footer {
    background-color: RGBA(231, 231, 231, 1.00);
    color: RGBA(0,0,0,.5);
    padding: 5%;
    margin-top: 10%;
}
/*Screen*/
@media screen and (min-width: 768px){

}

/*Tablet*/
@media screen and (max-width: 768px){

}

/*Mobile M*/
@media screen and (max-width: 414px){

}

/*Mobile S*/
@media screen and (max-width: 413px){
}