html, body {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    width: 100%;
    height: 100%;
    color: #FFFFFF;
}

h2 {
    color: #FFFFFF;
    font-size: 2.5em;
    font-weight: 200;
}

a {
    color: #FFFFFF;
    cursor: pointer;
}

.fa:hover {
    color: RGBA(210, 47, 114, .60);
    -webkit-transition: color ease-out 1s;
    -moz-transition: color ease-out 1s;
    -o-transition: color ease-out 1s;
    transition: color ease-out 1s;
}

.hero {
  background-size: cover;
  background: -webkit-linear-gradient(-90deg, rgba(255, 110, 127, .5), rgba(191, 233, 255, .5)), url(/src/hero.png) no-repeat center center; /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-90deg, rgba(255, 110, 127, .5), rgba(191, 233, 255, .5)), url(/src/hero.png) no-repeat center center; /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-90deg, rgba(255, 110, 127, .5), rgba(191, 233, 255, .5)), url(/src/hero.png) no-repeat center center; /* For Firefox 3.6 to 15 */
  background: linear-gradient(-90deg, rgba(255, 110, 127, .5), rgba(191, 233, 255, .5)), url(/src/hero.png) no-repeat center center; /* Standard syntax */
  height:75vh; 
  width: 100%;
  position: relative;
}

.intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;}

.content {
  height:75vh; 
  width: 100%;
  padding: 2%;
  background-color: lightgrey;

}

.content-inverse {
  height:75vh; 
  width: 100%;
  background-color: RGBA(125, 58, 115, .1); 
  padding: 2%;
}

.left-model {
    height: 100%;
    margin-left: 10%;
    float: left;
    display: inline-block;
}

.right-model {
    height: 100%;
    float: right;
    margin-right: 10%;
    display: inline-block;
}

#title {
    color: #FFFFFF;
    font-size: 5em;
    font-weight: 200;
}

#badge {
  width: 100%;
  background-color: RGBA(125, 58, 115, .3); 
  padding-top: 10vh; 
  padding-bottom: 10vh;
  padding-right: 5vh;
  padding-left: 5vh;
}

#footer {
    background-color: RGBA(231, 231, 231, 1.00);
    color: RGBA(0,0,0,.5);
    padding: 5%;
}
/*Screen*/
@media screen and (min-width: 768px){

}

/*Tablet*/
@media screen and (max-width: 768px){

}

/*Mobile M*/
@media screen and (max-width: 414px){

}

/*Mobile S*/
@media screen and (max-width: 413px){
}


.contentText {
    display: inline-block;
    float: right;
    height: 75vh;
    width: 60%;
    color: black;
    text-align: center;
    vertical-align: middle;
    margin-top: -2%;
}

.descTitle {
    color: black;
    font-size: 40px;
    font-weight: 300;
}

.vertCenter {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.contentImage {
    display: inline-block;
    float: left;
    height: 75vh;
    width: 30%;
    color: black;
    text-align: center;
    vertical-align: middle;
    margin-top: -2%;
    background-color: white;
}
