html, body {

    text-align: center;
    color: #FFFFFF;
    margin: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}

body {
    background: linear-gradient(270deg, #f44336, #00bcd4);
    background-size: 400% 400%;
    -webkit-animation: gradientshift 20s ease infinite;
    -moz-animation: gradientshift 20s ease infinite;
    animation: gradientshift 20s ease infinite;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 1.5em;
}

p {
    font-size: 1.5em;
}

nav {
    width: 100%;
    background-color: #C62828;
    padding: 20px;
    text-align: center;
}


a {
    color: #FFFFFF;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 16px;
    text-decoration: none;
}

a:hover {
    color: #BBDEFB;
    text-decoration: none;
}

hr
{
    background: RGBA(200, 200, 200, .250);
    border: 0 none;
    color: #E84033;   
    height: 2px;
}

footer {
    position:fixed;
    bottom:0;
    text-align: center;
    display: inline-block;
    font-size: .75em;
    margin-bottom: 10px;
    display: none;
}

footer i {
    display: inline-block;
}

footer p {
    -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	-moz-animation: heartbeat 1.5s ease-in-out infinite both;
	animation: heartbeat 1.5s ease-in-out infinite both;
    
    cursor: pointer;
}

.center {
    padding: 5px;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

#profilepic {
    border-radius: 50%;
    width: 250px;
    margin: 10px 10px 25% 10px;
    
    -webkit-animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	-moz-animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

#wrapper {
    width: 100%;
    overflow: auto;
    text-align: center;
}

#profile {
    display: inline-block;
    margin: 0px;
}

#content {
    display: inline-block;
    width: auto;
    margin-left: 15px;
    text-align: left;
    
    -webkit-animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	-moz-animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

#links{
    list-style-type: none;
    margin: 0 0 0 -15px;
    padding: 0;
    overflow: hidden;
}

#links li {
    display: inline;
}

#engagements {
   list-style: none;
    display: inline-block;
    *display: inline;
    zoom: 1;
    
}

#position {
    list-style: none;
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin-left: 20px;
}

#engagements a {
    padding: 0px;
}

@-webkit-keyframes gradientshift {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes gradientshift {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes gradientshift { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
    
@-webkit-keyframes slide-in-left{0%{-webkit-transform:translateX(-1000px);transform:translateX(-1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}@keyframes slide-in-left{0%{-webkit-transform:translateX(-1000px);transform:translateX(-1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}

@-webkit-keyframes slide-in-right{0%{-webkit-transform:translateX(1000px);transform:translateX(1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}@keyframes slide-in-right{0%{-webkit-transform:translateX(1000px);transform:translateX(1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}

@-webkit-keyframes heartbeat{from{-webkit-transform:scale(1);transform:scale(1);-webkit-transform-origin:center center;transform-origin:center center;-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}10%{-webkit-transform:scale(.91);transform:scale(.91);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}17%{-webkit-transform:scale(.98);transform:scale(.98);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}33%{-webkit-transform:scale(.87);transform:scale(.87);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}45%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}@keyframes heartbeat{from{-webkit-transform:scale(1);transform:scale(1);-webkit-transform-origin:center center;transform-origin:center center;-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}10%{-webkit-transform:scale(.91);transform:scale(.91);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}17%{-webkit-transform:scale(.98);transform:scale(.98);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}33%{-webkit-transform:scale(.87);transform:scale(.87);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}45%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}

/*Screen*/
@media screen and (min-width: 768px){

}

/*Tablet*/
@media screen and (max-width: 768px){
    h1 {
        font-size: 300%;
    }
    
    h2 {
        font-size: 100%;
    }
}

/*Mobile M*/
@media screen and (max-width: 480px){
    h1 {
        font-size: 150%;
    }
    
    h2 {
        font-size: 75%;
    }
    
    li {
        padding: 8px;
    }
    
    #profilepic {
        margin: 10px 10px 0px 10px;
    }
}

/*Mobile S*/
@media screen and (max-width: 460px){
    h1 {
        font-size: 200%;
    }
    h2 {
        font-size: 100%;
    }

    li {
        display: block;
    }

    #position {
        display: none;
    }
    
    #profilepic {
        margin: 10px 10px 10px 10px;
    }
}