body {
    margin:40px auto;
    max-width:650px;
    line-height:1.6;
    font-size:18px;
    color:#444;
    padding:0 10px;
    background-color: #EEEEEE;
}

h1,h2,h3,h4,h5 {
    line-height:1.2;
}

footer {
    text-align: center;
}

#avatar {
    float: right;
}
